.sider {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  max-height: 100vh;
  border-right: 1px solid #ebebeb;
}

.logo-flex {
  padding: 10px 0;
}

.mobile-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 768px) {
  .sider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}