.inline-code {
  border-radius: 4px;
  background-color: #f0f0f0;
  padding: 3px 6px;
  margin: 0px 3px;
  font-weight: bold;
  /* 使用圆润的字体 */
  font-family:
    "Menlo", "Monaco", "Consolas", "Courier New", monospace, "Microsoft YaHei";
  color: #333;
  /* 开启字体平滑 */
  -webkit-font-smoothing: antialiased;
  /* 开启字体平滑 */
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.95rem;
}

.inline-code:before {
  content: none;
}

.inline-code:after {
  content: none;
}

.code-container {
  border-radius: 8px;
  margin: 8px 8px;
}

.code-header {
  border: 1px solid #3c3c3c;
  border-bottom: none;
  background-color: #2b2b2b;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 8px 16px;
  color: #d1d5db;
}

.code-block {
  border: 1px solid #3c3c3c;
  border-top: none;
  margin-top: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.copy-button {
  color: #a6a8ab;
  height: 24px;
}

.copy-button:hover {
  color: #ffffff !important;
}