.link {
  text-decoration: none;
  display: inline-flex;
  align-items: flex-start;
}

.link:hover {
  text-decoration: underline;
}

.link-icon {
  font-size: 10px;
  margin-left: 4px;
  margin-top: 6px;
}