
.logo-flex-style {
  padding: 10px 0;
}

.logo-style {
  font-size: 40px;
}

.logo-title-style {
  padding: 0 10px;
}

.sider-style {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  border-right: 1px solid #ebebeb;
}

.header-style {
  position: sticky;
  top: 0;
}