
.logo-flex {
  padding: 10px 0;
}

.logo {
  font-size: 40px;
}

.logo-title {
  padding: 0 10px;
}

.sider {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  border-right: 1px solid #ebebeb;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-self: center;
  align-items: center;
}

.header-title {
  text-align: center;
  margin: 0 auto;
}